<!DOCTYPE html>
<html>
	<head>
		<title>Извлекаем факты</title>
	</head>
	<body>
	<div class="header-container">
		<div class="head-content">
			<b>Tomitaparser.exe</b>
	</div>
		<div class="menu">
			<div class="btn-group">
				<a href={{url_for("main")}} class = "active">Главная страница</a>
			</div>
		</div>
	</div>
	<div class="content-container">
		<p>Прилигательное+Существительное</p>
		<p>Введите текст в поле ниже</p>
		<form action = "extract" method = "post">
		<div class="form-group">
			<textarea input class="form-control"  name = txt id="exampleFormControlTextarea1" placeholder="Введите текст" placeholder=".form-control-lg" cols = 80 rows="10"></textarea>
		</div>
		<button type="submit" class="sub-button">Пуск</button>
		</form>
	</div>
	</body>
</html>